body{
    background-color: rgb(18, 3, 46);
    display: flex;
}

h1{
    color: blanchedalmond;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    letter-spacing: 2px;
    
}
.container{
    background-color: gray;
    height: 500px;
    width: 400px;
    margin-left: 35%;
    border-radius: 18px;
    margin-top: 20px;
    background: linear-gradient(#020d2c, #0d040e);
    box-shadow: 0 15px 25px rgba(25, 12, 46, 0.6);
    border: #000000 solid;
}

#task-input {
    margin-top: 60px;
    margin-left: 15%;
    text-transform: inherit;
    padding: 15px 15px 10px;
    font-size: 15px;
    font-style: oblique;
    box-sizing: border-box;
    border: 1px solid black;
    border-bottom: 1px solid #000;
    border-radius: 5px;
    border: 1px rgb(11, 11, 71);
    background: transparent;
    color: white;
    border-color: #020d2c;
    box-shadow: 0 15px 25px rgba(25, 12, 46, 0.6);
}

button {
    border-radius: 3px;
    border: 1px solid black;
    letter-spacing: 2px;
    height: 25px;
    width: 95px;
    border-color: #020d2c;
    box-shadow: 0 15px 25px rgba(22, 22, 22, 0.6);
}
#tasks{
    background-attachment: scroll;
    background: transparent;
    height: 200px;
    width: 250px;
    margin-left: 15%;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 20px;

}